/**
 * Roboto Regular with style linking.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

@font-face {
	font-family: "Roboto Regular";
	src: url("/fonts/roboto/regular/normal/webfont.eot");
	src: url("/fonts/roboto/regular/normal/webfont.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/roboto/regular/normal/webfont.woff") format("woff"),
		 url("/fonts/roboto/regular/normal/webfont.ttf") format("truetype"),
		 url("/fonts/roboto/regular/normal/webfont.svg#robotoregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Regular";
	src: url("/fonts/roboto/regular/bold/webfont.eot");
	src: url("/fonts/roboto/regular/bold/webfont.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/roboto/regular/bold/webfont.woff") format("woff"),
		 url("/fonts/roboto/regular/bold/webfont.ttf") format("truetype"),
		 url("/fonts/roboto/regular/bold/webfont.svg#robotobold") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Regular";
	src: url("/fonts/roboto/regular/italic/webfont.eot");
	src: url("/fonts/roboto/regular/italic/webfont.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/roboto/regular/italic/webfont.woff") format("woff"),
		 url("/fonts/roboto/regular/italic/webfont.ttf") format("truetype"),
		 url("/fonts/roboto/regular/italic/webfont.svg#robotoitalic") format("svg");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Roboto Regular";
	src: url("/fonts/roboto/regular/bolditalic/webfont.eot");
	src: url("/fonts/roboto/regular/bolditalic/webfont.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/roboto/regular/bolditalic/webfont.woff") format("woff"),
		 url("/fonts/roboto/regular/bolditalic/webfont.ttf") format("truetype"),
		 url("/fonts/roboto/regular/bolditalic/webfont.svg#robotobold_italic") format("svg");
	font-weight: bold;
	font-style: italic;
}
