/**
 * Base admin panel styles.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

@import "breakpoint-slicer";

body {
	@include to(2) {
		padding-top: 40px;
	}
}

/**
 * We need to move the content container from the left edge, so as to stretch it
 * to the complete horizontal width, while leaving enough room on the left for
 * the sidebar navigation.
 */
.contentContainer {
	margin-left: $sidebarNav-width;

	padding: 20px;

	@include to(2) {
		margin-left: 0px;
	}
}
