/**
 * Form styles.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * When inline radios are listed, each of the radio inputs has its own label. In
 * these cases, its helpful to have a label that identifies what the user is
 * choosing with the radio buttons.
 *
 * For example, a user may have "Male" or "Female" options - each of which would
 * be a label connected to a unique radio input - so there should also be a
 * label "Sex" which isn't connected to any inputs, but explains the actual
 * choice presented to the user.
 *
 * There are other solutions to this, such as using a `<fieldset>` in
 * combination with the `<legend>` element, but that isn't always appropriate.
 */
.label--radios {
	display: block;
}

/**
 * This modifier class should be added to all `.form-group` elements that wrap a
 * `textarea` that get initialized as a Redactor instance.
 *
 * When there are two Redactor instances on the same page, and the Redactor
 * fullscreen plugin is used, the toolbar of the non-fullscreen instance is
 * visible above the editor area of the fullscreen instance.
 *
 * This happens because Redactor's toolbar has a `z-index` of `1053` by default,
 * while the fullscreen editor area uses `1052` - and if both of those happen to
 * resolve on the same HTML nesting level (ie. the root of the `body`), due to
 * the fact that no parent element has a specified `position` and `z-index`,
 * they will be evaulated within that same nesting level, and the toolbar will
 * be rendered on top, due to the higher `z-index`.
 *
 * This is solved by making *any* of the non-fullscreen instance's parents have
 * a defined `position` and `z-index` thereby "nesting" that instance's
 * `z-index` a level below, which resluts in it being correctly rendered below
 * the fullscreen instance's editor.
 *
 * The obvious solution is to use this modifier class, since we wrap all form
 * elements within a `.form-group` anyway, so it's only logical to fix this
 * problem right at that point.
 */
.form-group--redactor {
	position: relative;

	z-index: 0;
}
