/**
 * Admin panel sidebar navigation.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

@import "breakpoint-slicer";
@import "compass/css3/transition";
@import "compass/typography/text/ellipsis";

/**
 * The container element for the sidebar navigation.
 */
.sidebarNav {
	position: absolute;

	width: $sidebarNav-width;

	@include transition(left 0.15s);

	@include to(2) {
		position: fixed;
		top: 48px;

		height: 100%;
		min-height: 100%;

		z-index: 123;
	}
}

/**
 * The `ul` element styling.
 */
.sidebarNav-list {
	margin: 0;
	padding: 0;

	width: $sidebarNav-width;

	list-style: none;

	@include transition(left 0.15s);

	@include to(2) {
		height: 100%;
		min-height: 100%;

		padding-bottom: 60px;

		background: darken($color-secondary, 5%);
	}

	/**
	 * We want to have a background below the navigation, appearing to stretch
	 * all the way to the bottom of the page.
	 *
	 * However, this element needs to be hidden on mobile-sizes, where the main
	 * navigation menu will "pop down" from the top when clicking an appropriate
	 * button, instead of being visible all the time in the sidebar.
	 */
	&:after {
		content: "";

		z-index: -1;
		position: fixed;

		top: 0;
		left: 0;
		bottom: 0;

		width: $sidebarNav-width;

		background: darken($color-secondary, 5%);

		@include transition(left 0.15s);
	}

	/**
	 * Hacky? Sure! Don't judge...
	 */
	& .mCSB_container {
		margin-right: 0;
	}
}

/**
 * Sidebar overlay
 */
.sidebarNav-overlay {
	position: fixed;

	opacity: 0;
	display: none;

	top: 0px;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.6);

	z-index: -1;

	@include transition(opacity 0.25s);
}

/**
 * Nav bar for smaller devices, slide out
 */
.sidebarNav--slideOut {
	@include to(2) {
		left: -$sidebarNav-width;
	}

	.sidebarNav-list {
		@include to(2) {
			left: -$sidebarNav-width;
		}

		&:after {
			@include to(2) {
				left: -$sidebarNav-width;
			}
		}
	}
}

/**
 * Nav bar for smaller devices, slide in
 */
.sidebarNav--slideIn {
	@include to(2) {
		left: 0;
	}

	.sidebarNav-list {
		@include to(2) {
			left: 0;
		}

		&:after {
			@include to(2) {
				left: 0;
			}
		}
	}

	.sidebarNav-overlay {
		@include to(2) {
			opacity: 1;
			display: block;
		}
	}
}

/**
 * Show nav
 */
.sidebarNav--reveal {
	@include to(2) {
		left: -190px;
	}

	.sidebarNav {
		@include to(2) {
			left: -190px;
		}

		&:after {
			@include to(2) {
				left: -190px;
			}
		}
	}
}

/**
 * Element for slide nav
 */
.sidebarNavPinch {
	position: fixed;

	width: 4px;

	min-height: 100%;
	height: 100%;

	background-color: transparent;

	z-index: 1;
}

/**
 * A single sidebar navigation item.
 */
.sidebarNav-item {
	margin: 0;
	padding: 0;

	width: $sidebarNav-width;
	height: 48px;
	background: darken($color-secondary, 5%);
}

/**
 * A single sidebar navigation link.
 */
.sidebarNav-link {
	float: left;

	display: block;

	margin: 0;
	padding: 10px;

	width: $sidebarNav-width;
	height: 48px;


	color: #fff;

	line-height: 28px;

	@include ellipsis;

	&:focus,
	&:hover,
	&.is-active {
		outline: 0;
		background: lighten($color-secondary, 5%);
		color: #fff;
		text-decoration: none;
	}
}
