.hero-alp-home-container{

    padding-right: 10% !important;
  h2 {
    font-family: ralewaylight !important;

  }
}

.hero-alp-home{
  background: url("/images/alp/alp-hero-slika.jpg");

}

.alp-news-sticker{
  background-color: $color-libek-blue;
  color: white;
  font-size: 12px;
  /*margin-top: -2px;*/
  padding: 5px 30px;
  display: inline-block;
  text-transform: uppercase;
}

.alp-home-p{
  margin-top: 30px;
  font-size: 16px;
  font-family: ralewaylight;
  line-height: 1.6;
}

.alp-home-content{
  padding-top: 20px;
  padding-bottom: 50px;
}