/**
 * Project article listing styles.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * A single project article in the listing page.
 */
.project-articles--article {
	padding: 0;

	height: 480px;

	background: rgba(#f00, 0.1);

	overflow: hidden;
}

/**
 * The project article link.
 */
.project-articles--article-link {
	position: relative;
	display: table;

	width: 100%;
	height: 100%;

	color: #fff;

	&:hover {
		color: #fff;

		.project-articles--article-image-overlay {
			opacity: 0.7;
		}
	}
}

/**
 * The container for the project article image.
 */
.project-articles--article-image-container {
	position: absolute;
	z-index: -1;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
}

/**
 * The project article image.
 *
 * It's not an actual image, but a `<div>` element, because we need to have the
 * background stretched to cover the container, and we're manually adding the
 * image itself by inlining CSS in the HTML output.
 */
.project-articles--article-image {
	position: absolute;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	background-size: cover;
}

/**
 * The faded overlay above the project article image.
 */
.project-articles--article-image-overlay {
	position: absolute;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	background: $color-primary;

	opacity: 0.8;

	@include transition(opacity 0.15s ease-in-out 0s);
}

/**
 * The article title container.
 *
 * We need this so as to be able to vertically center the title.
 */
.project-articles--article-title-container {
	display: table-cell;

	width: 100%;
	height: 100%;

	vertical-align: middle;
}

/**
 * The title of each article.
 */
.project-articles--article-title {
	padding: 0 64px;

	font-size: 32px;

	text-align: center;
}

/**
 * The container for the warning message when there are no articles to list.
 */
.project-articles--no-articles-warning {
	margin-top: 32px;

	font-size: 24px;
}
