/**
 * Single project article styles.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * The cover image for a project article.
 */
.project-article--cover {
	z-index: -1;
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 985px;
}

/**
 * A single project article.
 */
.project-article {
	color: #fff;

	font-size: 18px;

	h1 {
		margin-top: 128px;
		margin-bottom: 128px;

		font-size: 64px;

		text-align: center;

		@include text-shadow(2px 2px 0px #000);
	}
}

/**
 * The contents of the project article.
 */
.project-article--contents {
	padding: 32px 105px;

	background: #fff;

	color: #000;

	@include border-radius(4px);

	@media (max-width: 767px) {
		padding: 32px 16px;
	}

	p {
		margin-bottom: 32px;

		line-height: 1.6;
	}
}

/**
 * The social links container under the article image.
 */
.project-article--social-links {
	margin-bottom: 16px;

	height: 30px;

	& > .social-plugins {
		float: right;

		height: inherit;

		@include clearfix;

		& > div {
			float: left;
		}

		/**
		 * Ugly hack to align the social plugins vertically.
		 *
		 * For some reason, this is not needed on the listing pages, but that's
		 * the deal with social plugins.
		 */
		& > div.social-plugins-facebook-like {
			position: relative;

			top: -5px;
		}
	}
}
