.news-padding
{
	padding-left: 25px;
	padding-right: 25px;
	z-index: 4;
}
.news-header
{
	text-align: center;
}

.row-margin
{
	margin-top: 40px;
}

.wave-left
{
	margin-right: 20px;
	width: 155px;
	height: 41px;
}

.wave-right
{
	margin-left: 20px;
	width: 155px;	
	height: 41px;
}

.newest
{
	left: 4%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.news-holder
{
	max-height: 440px;
	position: relative;
}

.news-sticker
{
	background-position: center;
    width: 200px;
    position: absolute;
    background-image: url(../../images/talas/news-sticker.jpg);
    height: 33px;
    left: 10%;
    top: -3%;
    padding-left: 1px;
    padding-top: 4px;
    background-size: cover;
}

.news-image
{
	background-size: cover;
    height: 200px;
    width: 103%;
    margin-left: -10px;
    background-position: center;
}

.news-content
{
	margin-top: 5px;
}

.news-lead
{
	margin-top: 20px;
}

.news-time
{
	color: white;
	//font-style: italic;
	padding-left: 3px;
}

a.normalize-link, a.normalize-link:visited, a.normalize-link:focus, a.normalize-link:active
{
	color: inherit;
	text-decoration: none;
}

a.normalize-link:hover
{
	color: #7146c7;
	text-decoration: none;
}

