.article-signle-cover
{
	background-size: cover;
    background-position: center;
    height: 620px;
    margin-top: 50px;
}

.article-signle-title
{
	text-align: center;
	margin-top: 50px;
}

.article-signle-author
{
	font-weight: bold;
    font-size: 15px;
}

.article-signle-content
{
	border-right: 0.5px solid gray;
}

.article-single-sidebar
{
	position: relative;
	margin-bottom: 100px;
	padding-left: 35px;
}

.nav-articles
{
	margin-bottom: 70px;
	border-top: 0.5px solid gray;
	//border-right: 0.5px solid gray;
}

.talas-logo-vertical
{
	background-image: url('../../images/talas/about.png');	
	height: 214px;
	width: 60px
}

.bg-stripes-single
{	
    opacity: 0.3;
    width: 450px;
	//background-image: url("../../images/talas/bg-stripes.png");
	
}

.bg-stripes-2
{
	position: absolute;
    left: 175px;
    top: -125px;
    z-index: -1;
}
.left-margin
{
	margin-left: 15px;
}

.newsletter
{
	padding-left: 11px;
    height: 34px;
    font-style: italic;
    border-radius: 25px;
    border: 1px solid gray;
    width: 200px;
}

input.newsletter:focus
{
	border-color: #3c29b2;
	outline: none;
}

.send-button
{
	background-color: #6841c3;
    color: white;
    border: 1px solid #5838bd;
    border-radius: 12px;
    width: 75px;
    height: 33px;
}

button.send-button:hover
{
	border-color: #3c29b2;
	outline: none;
	background-color: #3c29b2;
	cursor: pointer;
	
}

.nav-margin-top
{
	margin-top: 100px;
}

.previous-article
{

}

.next-article
{
	text-align: right;

}

.next-article-title
{
	margin-top: 10px;
	font-weight: bold;
}


.related
{
	margin-top: 50px;
	margin-bottom: 25px;
}

.rel-art
{
	margin-bottom: 25px;
}

.recomm-time
{
	color: gray;
	font-style: italic;
}