/**
 * This is where the main layout of the website is defined - the `html` and
 * `body` styles go here, as well as any containers or other basic layout
 * elements.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * We're just setting up the correct overflows on our `html` element - setting
 * up the vertical overflow to `scroll`, so that we would always have a
 * scrollbar in the browser. This helps when, for example, a client is leaving a
 * page that's vertically short and doesn't need a scrollbar, to a page that's
 * longer and does need scrolling. In most cases, when the website content is
 * centered, this will cause a noticeable movement of the content to the left,
 * which can be kind of ugly.
 *
 *
 * IMPORTANT
 * ---------
 *
 * When using jQuery, specifically the draggables included in jQuery UI, this
 * can cause nasty bugs, because apparently, having `overflow-y: scroll;` set
 * for an element causes some position calculations to be way off in JavaScript,
 * leading to very weird issues with dragged items jumping on the page. It
 * should be made sure that this is turned off when using any kind of dragging
 * via JavaScript (and probably other stuff that depends on vertical offset
 * calculations to function correctly).
 */

* {
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 1500px){
	.container {
	    width: 1470px;
	}
}
/*
@media (min-width: 1200px){
	.container {
	    width: 1170px;
	}
}*/
	
.container
{
	margin-right: auto;
    margin-left: auto;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Playfair Display';
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	background: white;
	color: #333;
	font-family: 'ambleregular','Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 16px;
	text-align: left;
	height: 100%;
}

.content-row{
	flex: 1;
	position: relative;
	background-color: white;
	/*z-index: -1;*/
}

.full-row{
	margin: 0 !important;
}

@font-face {
    font-family: 'ambleregular';
    src: url('Amble-Regular-webfont.eot');
    src: url('Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         //url('Amble-Regular-webfont.woff2') format('woff2'),
         url('../../fonts/amble/regular/Amble-Regular-webfont.woff') format('woff'),
         //url('Amble-Regular-webfont.ttf') format('truetype'),
         url('Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



