.sidebar-header
{
	z-index: 110;
	display: inline-grid;
	position: absolute;
    left: 30px;
    top: 30px;
}

.sidebar-header-2
{
	display: inline-grid;
	position: absolute;
    top: 40px;   
}

.hamburger
{
	cursor: pointer;
}

#icon:hover
{
	cursor: pointer;
}

.showmenu
{
	width: 100%;
	position: absolute;
	left: 0px;
	top : 0px;
	z-index: 100;
}

.shadow
{

	position: absolute;
	width: 100%;
	height: 700px;;
	background-color: #212121;
	display: block;
    z-index: 5;
    opacity: 0.8;
}

.menu_style
{
	position: absolute;
	padding-right: 1%;
	z-index: 20;
	background-color: white;
	width: 300px;
	height: 700px; 
}

.menu-height
{
	height: 650px;
}

.link-list
{
	margin-top: 60px;
    margin-left: 25px;
    list-style-type: none;
}

.cancel
{
	cursor: pointer;;
	height: 22px;
}

.menu-most-pop
{
	margin-top: 50px;
}

.menu-news-holder
{
	margin-left: 5%;
    max-height: 240px;
    position: relative;
}

.menu-news-sticker
{
	font-size: 13px;
    color: white;
    padding-top: 6px;
    padding-left: 10px;
}

.menu-news-image
{
	height: 175px;
    width: 100%;
}

.menu-arrow
{
	position: relative;
    width: 55px;
    height: 18px;
    left: 0px;
    top: 8px;
}

.menu-search
{
    height: 33px;
	width: 200px;
    border-radius: 12px;
    font-style: italic;
    border: 1px solid gray;
    padding-left: 5px;
}

.X-button
{
	background-color: #6841c3;
    color: white;
    border: 1px solid #5838bd;
    border-radius: 12px;
    width: 30px;
    cursor: pointer;
    height: 33px;
}

input.menu-search:focus
{
	border-color: #3c29b2;
	border-radius: 25px;
	outline: none;
}