.most-popular
{
	position: relative;
	background-color: #2b2b2b;
	height: 450px;
	margin-top: 70px;
	margin-bottom: 20px;
}

.pop-invisible
{
	position: absolute;
	background-color: #2b2b2b;
	height: 450px;
	width: 150vw;
	margin-left: -50vw;
	margin-bottom: 20px;
	left: 50%;
	z-index: 1;
}

.most-popular-sticker
{
	background-size: cover;
	z-index: 10;
	color: white;
    top: -20px;
    //position: absolute;
    width: 305px;
    height: 50px;
    background-image: url('../../images/talas/pop-sticker.jpg');
    //left: -55px;
    text-align: center;
    padding-top: 13px;
}

.most-pop-stripes
{
	right: 33%;
    height: 100%;
    position: absolute;
}

.pop-news-holder
{
	margin-top: 50px;
}

.pop-news-image
{
	height: 220px;
	width: 390px;
}

.pop-news-content
{
	color: white;
	margin-top: 15px;
	overflow: hidden;
}