 .slideshow
   {
        width: 100%;
        //border: 1px solid #00fffe;
        height: 680px;
        position: relative;
        margin-top: 20px;
   }

.slideshow-box
{
	position: absolute;
	left: -0%;
	top: 0%;
	width: 100%;
	height: 100%;
	//border: 1px solid black;
	z-index: 2;
}

.slideshow-container
{
	position: relative;
	width: 100%;
	height: 100%;
}

.slideshow-text
{
	position: absolute;
	width: 40%;
	height: 100%;
	background-image: url("../../images/talas/text-bg.jpg");
	background-size: cover;
	background-position: center;
}

.slidehow-text-shape
{
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0%;
}

.slideshow-title
{
	overflow-y: hidden;
	top: 60px;
    width: 66%;
    color: white;
    max-height: 200px;
    left: 15%;
    position: absolute;
}

.slideshow-lead
{
	z-index: 41;
	color: white;
    position: absolute;
    left: 15%;
    top: 335px;
    font-size: 15px;
    width: 66%;
    max-height: 159px;
    overflow: hidden;
}

.slideshow-arrow
{
	z-index: 20;
	position: absolute;
    width: 55px;
    height: 18px;
    left: 15%;
    bottom: 23%;
}

.slideshow-image
{
	position: absolute;
	width: 60%;
	height: 100%;
	right: 0%;
	background-position: center;
	background-size: cover;
	//background-image: url("../../images/johngalt/john-galt-hero.jpg");
} 

.bg-stripes
{	
	width: 400px;
	z-index: 1;
    position: absolute;
    right: -8%;
    bottom: -20%;
	//background-image: url("../../images/talas/bg-stripes.png");
	
}

.slideshow-author
{
	font-size: 16px;
	font-weight: bold;
    /* height: 50px; */
    overflow-y: hidden;
    top: 280px;
    width: 66%;
    color: white;
    left: 15%;
    position: absolute;
}

.slideshow-tags
{
	font-size: 16px;
	font-weight: bold;
    overflow-y: hidden;
    top: 300px;
    width: 66%;
    color: white;
    left: 15%;
    position: absolute;
}

#homeCarousel .carousel-indicators {
	justify-content: left;
	margin-left: 6%;

	li {
		background-color: transparent;
		color: white;
		text-indent: 0;
		opacity: 0.7;
		
		&.active {
			background-color: transparent;
			opacity: 1;
		}
	}
}

.carousel-indicators {
	bottom: 35px;
}