.hero-john-galt-container{

    padding-right: 10% !important;
}

.hero-john-galt-container .underline{
  border-bottom-color: $libek-yellow;
}

.hero-john-galt{
  background: url("/images/johngalt/john-galt-hero.jpg");

}

.ayn-rand{
  padding-top: 60px;
  padding-left: 30px;
 }

.ayn-rand .text-heading{
  font-size: 28px;
}

.ayn-rand .text-article {
  font-family: "ralewaylight", sans-serif;
  margin-top: 20px;
  font-size: 18px;
}

.ayn-rand .read_more, .ayn-rand .read_more:hover, .ayn-rand .read_more:active, .ayn-rand .read_more:focus, .ayn-rand .read_more:visited{
  text-decoration: none;
  color: black;
}

.ayn-rand .read_less, .ayn-rand .read_less:hover, .ayn-rand .read_less:active, .ayn-rand .read_less:focus, .ayn-rand .read_less:visited{
  text-decoration: none;
  color: black;
}

.ayn-rand .read-less{
  cursor: pointer;
  font-weight: bold;
}

.history-holder{
  background: url("/images/home/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

.history-context{
  background-color: $libek-darkened;
  padding: 10px 20px;
}

.history-context .content{
  padding: 10px 25%;
  border: 3px solid;

}

.history-context .content .title{

}

.history-context .content .text{
  font-size: large
}

.quotes{
margin: 25px 0px;
}

.quotes-image{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0px auto;
}

.quotes .text {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

#quotesCarousel{
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
}

#quotesCarousel .carousel-indicators {
  bottom:-50px;
}

#quotesCarousel .carousel-indicators li{
  border: 2px solid $libek-yellow;
}

#quotesCarousel .carousel-indicators li.active{
  background-color: $libek-yellow;
  margin: 1px;
  width: 10px;
  height: 10px;
}

#quotesCarousel .carousel-inner {
  margin-bottom:50px;
  height: 70px;
}

#quotesCarousel .item{
  color: $libek-yellow;
}

.bottom-padding{
  height: 100px;
}

.john-galt-main-article {
  background-color: $bootstrap-grey;
}


.q-a{
  padding-top: 60px;
  padding-left: 30px;
}


.q-a .text-article {
  font-family: "ralewaylight", sans-serif;
  margin-top: 20px;
  font-size: 18px;
}

.works{
  padding-top: 60px;
  padding-left: 30px;
}

.works .heading{
  font-size: 28px;
}

.works .text-article {
  font-family: "ralewaylight", sans-serif;
  margin-top: 20px;
  font-size: 18px;
}

.works .right{
  text-align: right;
}


.qa-blog-works{
  padding-right: 0% !important;
  text-align: center;
}

.qa-blog-works .underline{
  display: none !important;
}