/**
 * A simple fadein animation.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

@import "compass/css3/animation";

/**
 * Fade the opacity from 0 to 1.
 */
@include keyframes(fadein) {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
