/**
 * Some font-related mixins.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * A mixin for configuring responsive fonts.
 */
@mixin responsive-fonts($type: "base") {
	$font-type: map-get($font-sizes, $type);

	font-size: map-get($font-type, "lg");

	@media (min-width: 992px) and (max-width: 1200px) {
		font-size: map-get($font-type, "md");
	}

	@media (max-width: 991px) {
		font-size: map-get($font-type, "sm");
	}

	@media (max-width: 767px) {
		font-size: map-get($font-type, "xs");
	}
}

/**
 * A mixin for fetching a specific font type/size.
 */
@mixin font-size($type: "base", $size: "lg") {
	$font-type: map-get($font-sizes, $type);

	font-size: map-get($font-type, $size);
}
