/**
 * Admin panel variables.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * Primary and secondary admin panel colors.
 */

$color-primary: map-get($colors--creitive, "light-blue");
$color-secondary: map-get($colors--creitive, "dark-blue");

/**
 * The width of the sidebar navigation.
 */

$sidebarNav-width: 200px;

/**
 * Item list styles.
 */

$itemList-head-bg: $color-secondary;
$itemList-head-text: #fff;
$itemList-placeholder-borderColor: #b6bcbf;
$itemList-placeholder-bg: #f2fbff;
$itemList-expandCollapseButton-text: $color-primary;
$itemList-expandCollapseButton-text-hover: darken($color-primary, 15%);
$itemList-item-contents-borderColor: #ccc;
$itemList-item-contents-text: #333;
$itemList-empty-borderColor: #bbb;
$itemList-empty-bg: #e5e5e5;
