/**
 * About us page styles.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * The background for the About us page.
 */
.about-us-page--background {
	position: fixed;
	z-index: -1;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: url("/images/about-us-background.jpg");
}

/**
 * The background cover for the about us page - it's basically there just to
 * make the actual background darker, so the text would be more readable.
 */
.about-us-page--background-cover {
	position: fixed;
	z-index: -1;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: rgba(#000, 0.8);
}

/**
 * The contents of the About us page.
 */
.about-us-page--contents {
	color: #fff;

	font-size: 18px;

	h1 {
		font-size: 32px;

		text-align: center;
	}
}

/**
 * Links to About us subpages, on the About us page.
 */
.about-us-page--links {
	@include clearfix;
}

/**
 * An additional modifier class for the links container, so as to be able to
 * separate it from content on the About us page.
 */
.about-us-page--links-separated {
	margin-top: 40px;
}

/**
 * A single link to an About us subpage.
 */
.about-us-page--link {
	display: block;

	border: 1px solid #fff;

	height: 50px;

	color: #fff;

	font-size: 24px;
	line-height: 50px;

	text-align: center;

	@include border-radius(4px);
	@include text-overflow-ellipsis;

	&:hover,
	&.about-us-page--link-active {
		border: 1px solid $color-primary;

		color: $color-primary;
	}
}

/**
 * The container for the subpage links, on each of the subpages.
 */
.about-us-subpage--links {
	padding: 20px 0;

	width: 100%;

	background: rgba(#000, 0.9);
}

/**
 * Contents of each of the About us subpages.
 */
.about-us-subpage--contents {
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 32px;

	background: #fff;
	color: #000;

	font-size: 18px;

	@include border-radius(4px);

	h1 {
		margin: 0 0 32px;

		font-size: 32px;

		text-align: center;
	}
}

/**
 * We're using the Twitter Bootstrap `thumbnail` class for images on the About
 * us subpages, and it has a border by default, so we're removing it here. We're
 * also overriding the default padding, so as to get natural-sized images.
 */
.about-us-subpage--people-thumbnail {
	border: 0;

	padding: 2px;
}

/**
 * Caption for each of the images on the About us subpages.
 */
.about-us-subpage--people-caption {
	text-align: center;
}

/**
 * The organization position of each member has a different style than their
 * name.
 */
.about-us-subpage--people-position {
	color: $color-primary;
}
