.hero-advocating{
  background-image: url("/images/zagovaranje/hero-zagovaranje.jpg");
}

.hero-advocating-container{
  padding-right:  0% !important;
  text-align: center;
}

.hero-advocating-container .underline{
  display: none;
}

.advocating-content{
  margin-bottom: 100px;
}