$font-family-raleway-light: 'ralewaylight', sans-serif;

$dark-grey: #333;
$libek-orange: #FC7625;
$libek-yellow: #F2B409;
$libek-darkened: rgba(0,0,0,0.7);
$libek-darkened-light: rgba(0,0,0,0.3);
$libek-blue-light: rgba(0, 159, 211, 0.7);

$home-news-height: 200px;