/**
 * Application form styles.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * The background for the application form page.
 */
.application-form--background {
	position: fixed;
	z-index: -1;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: url("/images/contact-background.jpg");
}

/**
 * The background cover for the application form page - it's basically there
 * just to make the actual background darker, so the text would be more
 * readable.
 */
.application-form--background-cover {
	position: fixed;
	z-index: -1;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: rgba(#000, 0.8);
}

/**
 * The contents of the application form.
 */
.application-form--contents {
	color: #fff;

	font-size: 18px;

	h1 {
		font-size: 32px;

		text-align: center;
	}
}

/**
 * The container for the application form.
 */
.application-form--form-container {
	margin-top: 32px;
	margin-bottom: 32px;

	label {
		cursor: pointer;
	}
}

/**
 * The inputs and textareas on the application form.
 */
.form-control--application-form {
	background: rgba(#fff, 0.4);

	color: #fff;

	@include text-shadow(0px 1px 0px #555);
}
