.hero-news{
  background: url("/images/news-hero.jpg");
  text-align: center;
}

.hero-projects{
  background: url("/images/home/hero-background.jpg");
  text-align: center;
}

.hero-research{
  background: url("/images/news-hero.jpg");
  text-align: center;
}

.hero-news-container, .hero-projects-container, .hero-research-container {
  padding-right: 0% !important;
}

.hero-news-container .underline, .hero-projects-container .underline, .hero-research-container .underline{
  display: none !important;
}