.cover-container{
    height: 600px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: $libek-darkened-light;
}

.cover {
	/*position: absolute;
	z-index: -1;

	top: 0;
	right: 0;*/
	/*bottom: 0;*/
	/*left: 0;*/

    position: relative;
	padding-top: 90px;
	background-color: transparent;

	/*&[data-background-id="1"] { background: url("/images/home/01.jpg"); }
	&[data-background-id="2"] { background: url("/images/home/02.jpg"); }
	&[data-background-id="3"] { background: url("/images/home/03.jpg"); }
	&[data-background-id="4"] { background: url("/images/home/04.jpg"); }
	&[data-background-id="5"] { background: url("/images/home/05.jpg"); }*/

    margin-bottom: 0 !important;
}

.cover h1{
	color: white;
}

.cover h1{
	font-size: 56px;
}

.cover-datetime-holder{
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 40px;
}

.cover .cover-datetime{
  color: white;
}

.cover .container{
	margin-top: 90px;
    margin-bottom: 100px;
}

.cover .cover-category{
  text-transform: uppercase;
  background-color: white;
  margin: 0;
  padding: 2px 30px;
  font-family: $font-family-raleway-bold;
  color: black;
  display: inline-block;
}

.bottom-recommended{
  height: 170px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  overflow-y: hidden;
  position: relative;
}

.bottom-recommended:hover .description-panel{
  top: 0;
}

.bottom-recommended .description-panel p{
  font-size: 20px;
  color: white;
}

.bottom-recommended .horizontal-center{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bottom-recommended .description-panel{
  background-color: $libek-blue-light;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.bottom-dark{
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: absolute;
  width: 100%;
}

.the-highlights{
  color: white;
  background-color: #5F6B6A;
  position: relative;
  height: 170px;
}

.vertical-text {
  font-size: medium;
  left: 20px;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  top: 50%;

}
