/**
 * Contact page styles.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * The background for the Contact page.
 */
.contact-page--background {
	position: fixed;
	z-index: -1;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: url("/images/contact-background.jpg");
}

/**
 * The background cover for the Contact page - it's basically there just to
 * make the actual background darker, so the text would be more readable.
 */
.contact-page--background-cover {
	position: fixed;
	z-index: -1;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: rgba(#000, 0.8);
}

/**
 * The contents of the Contact page.
 */
.contact-page--contents {
	color: #fff;

	font-size: 18px;

	h1 {
		font-size: 32px;

		text-align: center;
	}
}

/**
 * The container for the contact form.
 */
.contact-page--form-container {
	margin-top: 32px;
	margin-bottom: 32px;

	label {
		cursor: pointer;
	}
}

/**
 * The inputs and textareas on the contact page.
 */
.form-control--contact {
	background: rgba(#fff, 0.4);

	color: #fff;

	@include text-shadow(0px 1px 0px #555);
}

.hero-contact{
  background-image: url("/images/contact-hero.jpg");
}

.hero-contact-container{
   padding-right:  0% !important;
  text-align: center;
}

.hero-contact-container .underline{
  display: none;
}
