/**
 * Configuration styles and main project variables.
 *
 * This is where things like basic website dimensions, colors, and fonts should
 * be specified. This file should be imported in the stylesheet near the top,
 * before all of the other imported stylesheets, but care should be taken
 * regarding dependencies.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * Custom fonts in use.
 */
@import "config/fonts";

/**
 * Font variables
 */
$font-family-serif: LiberationSerifRegular, "Times New Roman", serif;
$font-family-raleway: 'ralewaymedium', sans-serif;
$font-family-raleway-light: 'ralewaylight', sans-serif;
$font-family-raleway-bold: 'ralewaybold', sans-serif;
$font-family-default: $font-family-raleway;

$bootstrap-grey: #F5F5F5;

$navpanel-height: 200px;

/**
 * Color definitions.
 */

$color-libek-blue-overlay: rgba(0, 159, 211, 0.7);
$color-libek-blue: #009fd3;

$color-primary: $color-libek-blue;
$color-secondary: #0f0;

$color-link-normal: $color-libek-blue;
$color-link-hover: darken($color-libek-blue, 15%);
$color-link-active: darken($color-libek-blue, 15%);

$color-selection-background: $color-primary;
