.hero-education{
	background: url("/images/education/edukacija-hero.jpg");
}

.edu-text{
    //height: 250px;

    background: #283338;
}

.edu-tiny{
  color: #646565;
  padding-top: 45px;
  padding-left: 0 !important;
  font-size: small;
  //background: #283338
}

.edu-large{
  color: white;
  padding-top: 10px;
  padding-left: 0 !important;
  font-size: x-large;
  //background: #283338
}

.edu-medium{

  color: white;
  font-size: 16px;
  font-family: ralewaylight;
  padding-top: 10px;
  padding-bottom: 45px;
  padding-left: 0 !important;
  //background: #283338
}

.edu-alp{
  text-align: center;
  background-image: url("/images/education/alp.jpg");
  height: 300px;
}

.edu-pp{
  text-align: center;
  background-image: url("/images/education/politika-pojedinca.jpg");
  height: 300px;
}

.edu-john{
  text-align: center;
  background-image: url("/images/education/john-galt.jpg");
  height: 300px;
}

.edu-pop{
  text-align: center;
  background-image: url("/images/education/popekonomija.jpg");
  height: 300px;
}

.edu-title{
  font-size: 35px;
  padding-top: 100px;
  color: #fff;
}

.edu-desc{
  color: darkgray;
  font-size: medium;
}

.link{
  height: 100%;
  background-color: transparent;
}