/**
 * The website header.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

$header-height: 70px;
$header-padding-v: 10px;

header{
  position: fixed;
  top: 0px;
  width: 100%;
  height: $header-height;
  z-index: 2;

  -webkit-transition-property: background-color;
     -moz-transition-property: background-color;
       -o-transition-property: background-color;
          transition-property: background-color;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.navbar-collapse{
  overflow-y: hidden !important;
}

.container-relative{
  position: relative;
}
/**
 * This modifier class adds a background to the header container, because some
 * pages have that background, with the rest of the page white, whereas some
 * pages have a full-screen background (in which case we don't want the header
 * to have it, to prevent overlaps, and make it easier to build).
 */
.header-container--with-background {
	background: rgba(#000, 0.9);
}

/**
 * The actual header is centered within it's container, and has some padding to
 * separate its contents from the edges.
 */
.header {
  position: relative;

  margin: 0 auto;
  padding: $header-padding-v 0;
  height: $header-height;
}

@import "header/logo";
@import "header/languages";
@import "header/navigation";

.header-absolute{
  position: absolute;
  top:15px;
  left: 0;
  right:0;
}

.navbar.navbar-default{
  background: none !important;
  border: none !important; 
}

.navbar{
  @media (max-width: 992px) {
    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .navbar-nav{
      margin-top: 20.5px !important;
    }
  }
}

