.hero-container{
	background-size: cover !important;
	background-repeat: no-repeat !important;
    background-position: center !important;
    background: transparent !important;
}

.hero {
	/*position: absolute;
	z-index: -1;

	top: 0;
	right: 0;*/
	/*bottom: 0;*/
	/*left: 0;*/

	padding-top: 90px;
	background-color: transparent;

	/*&[data-background-id="1"] { background: url("/images/home/01.jpg"); }
	&[data-background-id="2"] { background: url("/images/home/02.jpg"); }
	&[data-background-id="3"] { background: url("/images/home/03.jpg"); }
	&[data-background-id="4"] { background: url("/images/home/04.jpg"); }
	&[data-background-id="5"] { background: url("/images/home/05.jpg"); }*/

    margin-bottom: 0 !important;
}

.hero h1, .hero h2{
	color: white;
}

.hero h1{
	font-size: 56px;
}

@media (max-width: 768px) {
  .hero h1{
	font-size: 36px;
  }
}

.hero h2{
  font-size: 20px;
  line-height: 1.4;
}

.hero .container{
	margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 30%;
}

.hero .underline{
	display: block;
	height: 0;
	width: 200px;
	border-bottom: 5px solid $color-primary;
  	font-family: $font-family-raleway-light;
}

.hero-slideshow{
	z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	opacity: 0;

    background-size: cover !important;
	background-repeat: no-repeat !important;
    background-position: center !important;

	-webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
  	-webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.hero-slideshow.active{
	opacity: 1;
}