/**
 * Home page styles.
 *
 * We're using a centering technique explained in the links.
 *
 * @link http://www.jakpsatweb.cz/css/css-vertical-center-solution.html
 * @link http://www.jakpsatweb.cz/css/priklady/vertical-align-valid-solution-en.html
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

.hero-home{
	background: url("/images/home/hero-img.jpg");
}

.home-main-article{
	background-color: $bootstrap-grey;
}

.home-title-text{
	padding-top: 60px;
	padding-left: 30px;
}

.home-title-text .text-article{
	font-family: $font-family-raleway-light;
	margin-top: 20px;
	font-size: 18px;
}

.home-title-text .text-headding{
	font-size: 28px;
}

.home-news-header h3{
	font-size: 32px;
}

.home-news-header hr{
  border-top: 2px solid $dark-grey;
}

.home-news-holder{
	height: 1.5 * $home-news-height;
	margin-bottom: 30px;
	z-index: 1;
}

.home-news-article{
	background-color: white;
	height: $home-news-height;
	margin: 0 30px;
	text-align: center;
	padding: 0 15px;
	overflow-y: hidden;

	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}

.home-news-article h4{
	margin-bottom: 15px;
    font-family: ralewaybold;
}

.home-news-time{
  font-family: ralewaybold;
}

.home-news-lead{
  font-family: ralewaylight;
}

.home-news-image{
	position: absolute;
	top: 0;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: $home-news-height;
	width: 100%;
}

.home-news-container{
	padding-top: 0.5 * $home-news-height;
	position: relative;
}



.home-news-sticker{
	background-color: $color-libek-blue;
	color: white;
	font-size: 12px;
    font-family: ralewaybold;
	/*margin-top: -2px;*/
    padding: 5px 30px;
	display: inline-block;
	text-transform: uppercase;
}

.home-research-sticker{
  background-color: $libek-orange;
  color: white;
  font-size: 12px;
  font-family: ralewaybold;
  /*margin-top: -2px;*/
  padding: 5px 30px;
  display: inline-block;
  text-transform: uppercase;
}

.home-johngalt-sticker{
  background-color: $libek-yellow;
  color: white;
  font-size: 12px;
  font-family: ralewaybold;
  /*margin-top: -2px;*/
  padding: 5px 30px;
  display: inline-block;
  text-transform: uppercase;
}

.home-footer{
	background-image: url('/images/social-footer.png');
	background-size: cover !important;
	background-repeat: no-repeat !important;
    background-position: center !important;
}

.home-footer .footer-content{
	padding: 20px 30px;
	background-color: transparent;
}

.home-footer p{
	color: white;
	font-size: 15px;
	font-family: $font-family-raleway-light;
	margin: 0;
}

.home-footer p i{
	margin: 0 10px;
}

.home-footer a{
	font-size: 32px;
}