/**
 * This is where the main layout of the website is defined - the `html` and
 * `body` styles go here, as well as any containers or other basic layout
 * elements.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * We're just setting up the correct overflows on our `html` element - setting
 * up the vertical overflow to `scroll`, so that we would always have a
 * scrollbar in the browser. This helps when, for example, a client is leaving a
 * page that's vertically short and doesn't need a scrollbar, to a page that's
 * longer and does need scrolling. In most cases, when the website content is
 * centered, this will cause a noticeable movement of the content to the left,
 * which can be kind of ugly.
 *
 *
 * IMPORTANT
 * ---------
 *
 * When using jQuery, specifically the draggables included in jQuery UI, this
 * can cause nasty bugs, because apparently, having `overflow-y: scroll;` set
 * for an element causes some position calculations to be way off in JavaScript,
 * leading to very weird issues with dragged items jumping on the page. It
 * should be made sure that this is turned off when using any kind of dragging
 * via JavaScript (and probably other stuff that depends on vertical offset
 * calculations to function correctly).
 */

@media (min-width: 1200px) {
	.container {
		width: 970px !important;
	}
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;

	background: white;
	color: #333;
	font-family: $font-family-default;
	font-size: 14px;
	text-align: left;
	height: 100%;
}

.content-row{
	position: relative;
	background-color: white;
	/*z-index: -1;*/
}

.full-row{
	margin: 0 !important;
}