.navpanel{
  margin: 0 !important;
}

.navpanel .panel-holder{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navpanel .activity-panel{
  color: white;
  height: $navpanel-height;
  padding: 0;
  overflow-y: hidden;
}

.navpanel .activity-panel a, .navpanel .activity-panel a:visited, .navpanel .activity-panel a:active, .navpanel .activity-panel a:focus{
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: block;
}

.navpanel .activity-link .image-panel, .navpanel .activity-link .description-panel, .navpanel .activity-info .description-panel{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  height: $navpanel-height;

  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-duration: .4s;
     -moz-transition-duration: .4s;
       -o-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.navpanel .activity-link .image-panel{
  padding-top: 64px;
}

.navpanel .activity-link .image-panel h3{
  text-transform: uppercase;
}

.navpanel .activity-info{
  background-color: $color-primary;
}

.activity-info{
  background-color: $color-primary;
  color: #fff;
  height: 41px;
}

.activity-info > div{
  height: 100%;
  display: table;
}

.activity-info > div > *{
  display: table-cell;
  vertical-align: middle;
}

/*     */

.strike {
  display: block;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: white;
}




/*   */


.navpanel .activity-link{
  background-image: url('/images/navpanel/navpanel-default.jpg');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.navpanel .edu{
  background-image: url('/images/navpanel/obrazovanje-small.png');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.navpanel .advocating{
  background-image: url('/images/navpanel/zagovaranje.png');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.navpanel .research{
  background-image: url('/images/navpanel/istrazivanje-small.png');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.navpanel .activity-link .image-panel{
  opacity: 1;
  -webkit-transition-delay: .4s;
     -moz-transition-delay: .4s;
       -o-transition-delay: .4s;
          transition-delay: .4s;
}

.navpanel .activity-link .description-panel{
  hr::after{
    border-bottom: 1px solid #fff;
    bottom: 0;
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
  }
  h3, hr::after, p {
    opacity: 0;
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .2s;
       -moz-transition-duration: .2s;
         -o-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  hr{
    opacity: 1;
    position: relative;
    border-color: transparent;
  }
}


.navpanel .panel-holder:hover .image-panel{
  opacity: 0;
  -webkit-transition-delay: 0s;
     -moz-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.navpanel .panel-holder:hover .description-panel{
  h3, hr::after, p {
    opacity: 1;

    -webkit-transition-duration: .4s;
       -moz-transition-duration: .4s;
         -o-transition-duration: .4s;
            transition-duration: .4s;
  }
  h3{
    -webkit-transition-delay: .4s;
       -moz-transition-delay: .4s;
         -o-transition-delay: .4s;
            transition-delay: .4s;
  }
  hr::after{
    width: 100%;

    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
  }
  p{
    -webkit-transition-delay: .6s;
       -moz-transition-delay: .6s;
         -o-transition-delay: .6s;
            transition-delay: .6s;
  }
}

.navpanel .description-panel h3{
  font-size: 40px;
}

.navpanel .image-panel h3{
  font-size: 32px;
}

.navpanel .description-panel hr{
  border-color: white;
}