.hero-support{
  background-image: url("/images/support-hero.jpg");
}

.supp-desc1{
  text-align: center;
  margin-top: 30px;
  font-size: large;
  margin-bottom: 50px;
}

.supp-desc2{
  text-align: left;
  margin-top: 40px;
  font-size: large;
  margin-bottom: 50px;

}