.team-desc1{
  text-align: center;
  color: darkgray;
  margin-top: 30px;
  font-size: x-large;
}

.team-desc2{
  text-align: center;
  margin-top: 30px;
  font-size: large;
  margin-bottom: 50px;
}

.teampanel{
  margin: 0 !important;
 // padding-top: 80px !important;
}

.teampanel .panel-holder{
  position: relative;
}

.teampanel .panel-holder:hover .description-panel{
  top: 0;
}

.teampanel .activity-panel{
  color: white;
  padding: 0;
  overflow-y: hidden;
}

.teampanel .activity-panel a, .teampanel .activity-panel a:visited, .teampanel .activity-panel a:active, .teampanel .activity-panel a:focus{
  text-decoration: none;
  color: white;
}

.teampanel .activity-link .description-panel, .teampanel .activity-info .description-panel{
  padding: 20px;
}

.teampanel .activity-info{
  background-color: $color-primary;
}

.teampanel .activity-link .description-panel{
  background-color: $libek-blue-light;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  -webkit-transition-property: top;
     -moz-transition-property: top;
       -o-transition-property: top;
          transition-property: top;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.teampanel .description-panel h3{
  font-size: 40px;
}

.teampanel .description-panel hr{
  width: 33%;
  border: none;
  border-bottom: 2px solid white;
}

.teampanel .description-panel p{
  font-size: 20px;
}

.teampanel .horizontal-center{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero-team{
  background: url("/images/team/hero-team.jpg");
  //text-align: center;
}

.hero-team-container {
  //padding-right: 0% !important;
}

.hero-team-container .underline{
  //display: none !important;
}

.teampanel .img-responsive{
  width: 100%;
}