/**
 * Define all the colors to be used in a cross-project fashion. This file may be
 * shared between as much as needed. Nice, rich, and pastel-like colors are
 * encouraged!
 *
 * Please prefix all colors with `$color-` to prevent clashes.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * Default colors.
 */

$color-blue: #049cdb !default;
$color-blue-dark: #0064cd !default;
$color-green: #46a546 !default;
$color-red: #9d261d !default;
$color-yellow: #ffc40d !default;
$color-orange: #f89406 !default;
$color-pink: #c3325f !default;
$color-purple: #7a43b6 !default;
