/**
 * This file contains all the commonly used mixins.
 *
 * Mixins should be used to do stuff like clean up the task of writing
 * cross-browser compatible code, vendor prefixes, as well as common stuff that
 * can turn up in multiple places within a single project.
 *
 * Mixins are meant to be cross-project, so it should be possible to easily
 * replace this file or copy it to another project, while maintaining
 * compatibility.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * Styles `a` elements with a normal and hover color, removing additional
 * styling (`text-decoration` and `outline`).
 *
 * The first argument is the normal link color, while the second argument is the
 * hovered state color.
 */
@mixin links($normal: #f00, $hover: #f90) {
	a {
		color: $normal;

		text-decoration: none;
		outline: none;

		&:hover,
		&:focus,
		&:active {
			color: $hover;

			text-decoration: none;
			outline: none;
		}
	}
}

/**
 * The standard clearfix applied as a mixin. This should be added to all
 * elements that have at least one floated child, and variable dimensions that
 * can and should be affected by the child.
 *
 * Perhaps this should be updated to the new micro clearfix hack, since the
 * method used here is fairly old.
 *
 * @see http://nicolasgallagher.com/micro-clearfix-hack/
 */
@mixin clearfix {
	&:after {
		content: "\0020";
		display: block;
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
}

/**
 * Used to "vendorize" a property with data (ie. add vendor-prefixes).
 */
@mixin vendorize($property, $data) {
	-webkit-#{$property}: $data;
	   -moz-#{$property}: $data;
	    -ms-#{$property}: $data;
	     -o-#{$property}: $data;
	        #{$property}: $data;
}

/**
 * Cross-browser CSS `transition`.
 */
@mixin transition($transition) {
	@include vendorize("transition", $transition);
}

/**
 * Cross-browser CSS `transform`.
 */
@mixin transform($transformation) {
	@include vendorize("transform", $transformation);
}

/**
 * Cross-browser CSS `box-shadow`.
 */
@mixin box-shadow($shadow) {
	@include vendorize("box-shadow", $shadow);
}

/**
 * Cross-browser CSS `border-radius`.
 */
@mixin border-radius($radius) {
	@include vendorize("border-radius", $radius);
}

/**
 * Cross-browser CSS `text-shadow`, with a useful/commonly used default.
 */
@mixin text-shadow($text-shadow: 0px 1px 0px #fff) {
	@include vendorize("text-shadow", $text-shadow);
}

/**
 * Cross-browser CSS `box-sizing`.
 */
@mixin box-sizing($data) {
	@include vendorize("box-sizing", $data);
}

/**
 * A selection of monospaced fonts.
 */
@mixin monospaced {
	font-family: "Lucida Console", "Courier New", "Courier", monospace;
}

/**
 * Styles selected text with the dsired colors. The two selectors *must* remain
 * separate (even though they use the exact same properties), otherwise, some
 * browsers break on the rule.
 */
@mixin selection($background, $color: #fff) {
	::-moz-selection {
		background: $background;
		color: $color;
		text-shadow: none;
	}

	::selection {
		background: $background;
		color: $color;
		text-shadow: none;
	}
}

/**
 * Cross-browser linear gradient background image.
 */
@mixin linear-gradient($point, $color1, $color2) {
	background-image: -webkit-linear-gradient($point, $color1, $color2);
	background-image:    -moz-linear-gradient($point, $color1, $color2);
	background-image:     -ms-linear-gradient($point, $color1, $color2);
	background-image:      -o-linear-gradient($point, $color1, $color2);
	background-image:         linear-gradient($point, $color1, $color2);
}

/**
 * Cross-browser box-sizing.
 */
@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}

/**
 * Cross-browser `text-overflow: ellipsis`. Forces an element's text to be in a
 * single line, and adds an ellipsis before it starts overflowing.
 */
@mixin text-overflow-ellipsis() {
	white-space: nowrap;

	-ms-text-overflow: ellipsis;
	 -o-text-overflow: ellipsis;
	    text-overflow: ellipsis;

	overflow: hidden;
}

/**
 * IE7 and older do not fully understand 'display: inline-block', so we use this
 * hack to make them behave nicely.
 */
@mixin ie7-inline-block() {
	html.lt-ie8 & {
		display: inline;
		zoom: 1;
	}
}

/**
 * CSS opacity made to work correctly with various Internet Explorer versions.
 */
@mixin opacity($value) {
	$value-filter: $value * 100;

	-khtml-opacity: $value;
	  -moz-opacity: $value;
	       opacity: $value;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $value-filter + ")";
	    filter: alpha(opacity=$value-filter);
}

/**
 * The mixin for generating a styled navigation via sprites.
 *
 * More detailed documentation of this mixin will be added as soon as possible.
 */
@mixin sprite-navigation($height, $link-widths, $in-between-spacing, $starting-indentation, $count-start: 1) {
	& > ul {
		width: 1000px;
		height: $height;

		& > li {
			margin: 0 0 0 $in-between-spacing;

			&:first-child {
				margin: 0 0 0 $starting-indentation !important;
			}

			& > span,
			& > a {
				height: $height;
			}

			/**
			 * The link style generation algorithm.
			 */

			$displacement-x: $starting-indentation;
			$i: $count-start;

			@each $link-width in $link-widths {
				nav-link-#{$i} {
					width: $link-width;
					background-position: -$displacement-x 0px;

					&:focus,
					&:hover {
						$displacement-y: $height;
						background-position: (-$displacement-x) (-$displacement-y);
					}

					&:active,
					body.page-nav-link-#{$i} & {
						$displacement-y: $height * 2;
						background-position: (-$displacement-x) (-$displacement-y);
					}
				}

				$displacement-x: $displacement-x + $in-between-spacing + $link-width;
				$i: $i + 1;
			}
		}
	}
}
