/**
 * These are some resets used from project to project.
 *
 * We don't use any of the most-commonly used resets, since, in our experience,
 * they tend to bloat the CSS with unnecessary normalization, making the file
 * size bigger without making our jobs easier.
 *
 * Most of the time, with a proper DOCTYPE, stuff renders fine across browsers,
 * and when something important happens to render inconsistently, we'll make a
 * fix for that specifically.
 *
 * That said, some things *do* get rendered badly (or unexpectedly) in multiple
 * browsers by default, and this file is where stuff like that should be fixed.
 *
 * As u rule of thumb, each rule in this file should be commented on its own, to
 * explain why we need it in the first place.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * Remove awful default styling for images. I actually can't remember exactly
 * which browsers are included with bad default styles for images, but I'm
 * betting it's at least a few versions of IE.
 */
img {
	border: 0;
	margin: 0;
	padding: 0;
}

/**
 * We don't like the way Chrome outlines focused input fields by default, so we
 * are gonna fix that.
 */
input,
input:focus,
textarea,
textarea:focus,
select,
select:focus {
	outline: none;
}

/*
* This fixes Firefox's default styling that adds ugly borders to various focused
* elements. Note that custom styles must be written that *do* have some visible
* effect while the element is focused, so as to enable accessible interfaces for
* users browsing with their keyboard.
*/
::-moz-focus-inner {
	border: 0 !important;
}

/**
 * Remove default link styles to achieve a sensible default that doesn't have
 * any underlines or outlines (which happens by default in multiple browsers).
 * Using a default color for the reset is undesirable, since we're usually going
 * to override it later, anyway, with the colors of the website in question, so
 * it seems wasteful to reset the colors only to have them changed for the whole
 * website later.
 */
a,
a:hover,
a:active {
	text-decoration: none;
	outline: none;
}
