/**
 * Single research article styles.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * A single research article.
 */
.research-article {
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 32px 105px;

	background: #fff;
	color: #000;

	font-size: 18px;

	@include border-radius(4px);

	@media (max-width: 767px) {
		padding: 32px 16px;
	}

	h1 {
		margin: 0 0 32px;

		font-size: 32px;
	}

	p {
		margin-bottom: 32px;

		line-height: 1.6;
	}
}

/**
 * This currently just holds the article's publish date, but may contain other
 * data in the future, such as the article author.
 */
.research-article--metadata {
	margin-bottom: 16px;

	font-size: 14px;
	font-style: italic;
}

/**
 * The social links container under the article image.
 */
.research-article--social-links {
	margin-top: 16px;

	height: 30px;

	& > .social-plugins {
		float: right;

		height: inherit;

		@include clearfix;

		& > div {
			float: left;
		}

		/**
		 * Ugly hack to align the social plugins vertically.
		 *
		 * For some reason, this is not needed on the listing pages, but that's
		 * the deal with social plugins.
		 */
		& > div.social-plugins-facebook-like {
			position: relative;

			top: -5px;
		}
	}
}
