/**
 * The Liberation Serif font styles, taken from Font Squirrel.
 *
 * @license Red Hat Liberation License v1.00
 * @link /fonts/liberation-serif/Red%20Hat%20Liberation%20License.txt
 * @link http://www.fontsquirrel.com/fonts/Liberation-Serif
 */

@font-face {
	font-family: "LiberationSerif-Regular";
	src: url("LiberationSerif-Regular-webfont.eot");
	src: url("LiberationSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("LiberationSerif-Regular-webfont.woff") format("woff"),
		url("LiberationSerif-Regular-webfont.ttf") format("truetype"),
		url("LiberationSerif-Regular-webfont.svg#liberation_serifregular") format("svg");
	font-weight: normal;
	font-style: normal;
}
