/**
 * Single news article styles.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * A single news article.
 */
.news-article {
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 32px 105px;

	background: #000;
	color: #fff;

	font-size: 18px;

	@include border-radius(4px);

	@media (max-width: 767px) {
		padding: 32px 16px;
	}

	h1 {
		margin: 0 0 32px;

		font-size: 32px;
	}

	p {
		margin-bottom: 32px;

		line-height: 1.6;
	}
}

/**
 * This currently just holds the article's publish date, but may contain other
 * data in the future, such as the article author.
 */
.news-article--metadata {
	margin-bottom: 16px;

	font-size: 14px;
	font-style: italic;
}

/**
 * The social links container under the article image.
 */
.news-article--social-links {
	margin-top: 16px;

	height: 30px;

	& > .social-plugins {
		float: right;

		height: inherit;

		@include clearfix;

		& > div {
			float: left;
		}

		/**
		 * Ugly hack to align the social plugins vertically.
		 *
		 * For some reason, this is not needed on the listing pages, but that's
		 * the deal with social plugins.
		 */
		& > div.social-plugins-facebook-like {
			position: relative;

			top: -5px;
		}
	}
}

.news-article-hero-container {
  text-align: center;
  padding-right: 0% !important;

}

.news-article-hero-container-title {
  padding-left: 25%;
  padding-right: 25%;
}

.news-article-hero-container-date {
  margin-bottom: 16px;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: $font-family-raleway-bold;

}

.news-article-header{
  font-size: 16px;
  font-family: $font-family-raleway-bold;
}

.news-article-content {
  background: #fff;
  color: #000;

  //margin-top: 32px;
  margin-bottom: 32px;
  padding: 0px 55px;
  font-size: 18px;

  p {
    margin-bottom: 32px;
    font-size: 19px;
    line-height: 1.6;
  }
}
.news-article-content-date{
margin-bottom: 30px;
/* color: white; */
/* text-align: center; */
  font-size: 14px;
  font-family: $font-family-raleway-bold;
}

.news-article-quote{
  font-size: 16px;
  font-style: italic;
  font-family: $font-family-raleway-light;
  margin: 40px 10px;
}

.news-article-text{
  margin-top: 15px;
  font-size: 14px !important;
  font-family: $font-family-raleway-light !important;
}


.news-article-recommend{
  background: #D1E9E6;
  text-align: center;
}


.news-article-recommend-content{
  padding: 0px 15px;
  font-size: 20px;
  text-align: center;


  button{
    font-weight: bold;
    font-size: medium;
    padding: 10px 30px;
    color: black;
    border: 0;
    margin-top: 10px;
    background: white;
    border-radius: 0 !important;
    margin-bottom: 15px;
  }

}

.news-article-recommend-content h2{
  font-size: 21px;
}


.news-article-recommend-span{
  display: inline-block;
  text-align: center;
  background: #E8F4F3;
  padding: 10px 20px;
}

.news-article-highlights{
  margin-top: 25px;
  text-align: center;
}



.news-article-category{
  margin-top: 20px;
}

