/**
 * A modal background helper style.
 *
 * This class basically shows a full height/width semi-transparent black
 * background on top of the whole page, and should be used when displaying modal
 * dialogs. Sometimes (depending on the styling of the rest of the website), it
 * might be necessary to manipulate the `z-index` through javascript, or just
 * add it as an overriden style within the project-specific CSS code.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

.modal-background {
	display: none;
	position: fixed;

	z-index: 10;

	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background: transparent url("/images/modal-background.png") repeat;
	background: rgba(#000, 0.1);
}
