/**
 * No script warning, fixed to the bottom of the website.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

.noscript {
	z-index: 10000;
	position: fixed;

	padding: 20px;

	bottom: 0;
	left: 0;
	right: 0;

	background: #900;
	background: rgba(#900, 0.7);
	color: #fff;

	font-size: 24px;

	text-align: center;
}
