/**
 * Full-page noscript warning.
 *
 * This styles the noscript warning that clients that don't run JavaScript will
 * see. The warning covers the full page with a black background and a centered
 * (both horizontally and vertically) container with a warning.
 *
 * The vertical center technique is the reason so many elements are used - the
 * technique is explained in the linked resources.
 *
 * @link http://www.jakpsatweb.cz/css/css-vertical-center-solution.html
 * @link http://www.jakpsatweb.cz/css/priklady/vertical-align-valid-solution-en.html
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

.noscript-cover {
	z-index: 10000;
	position: fixed;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: #000;
	background: rgba(#000, 0.9);
	color: #fff;
}

.noscript-cover-outer {
	display: table;
	overflow: hidden;
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	text-align: center;
}

.noscript-cover-middle {
	display: table-cell;
	vertical-align: middle;
	position: static;

	top: 50%;

	width: 100%;
}

.noscript-cover-inner {
	position: relative;

	top: -50%;

	margin: 0 auto;

	width: 100%;
	max-width: 600px;

	font-size: 22px;
	line-height: 1.6;
}
