/**
 * Some default styling for implementing pretty pagination. This is loosely
 * based on Twitter Bootstrap's pagination styles. The exact HTML that this is
 * meant to style will not be explained here, but it can be found in the
 * `Pagination` helper class.
 *
 * By default, the pagination links will be rendered next to each other, but by
 * adding a `stretch-first-last` class to the pagination container div, the
 * first and last link will be floated left and right, respectively, which is
 * sometimes a preferable and more usable design, depending on the context in
 * which the pagination is used in the first place.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

.pagination {
	z-index: 1;
	position: relative;

	margin: 50px auto 20px;
	padding: 5px;

	height: 25px;

	@include border-radius(3px);

	font-size: 15px;
	text-align: center;

	&.stretch-first-last {
		li.first {
			float: left;
		}

		li.last {
			float: right;
		}
	}

	ul {
		list-style: none;

		margin: 1px 0 0 5px;
		padding: 0;
	}

	li {
		display: inline;

		padding: 0;
		margin: 0;

		&.active a,
		&.active a:hover {
			color: #6f5b9f;
		}

		&.disabled a,
		&.disabled a:hover {
			background: transparent;
			color: #999;
		}

		&.first,
		&.last {
			background: transparent;
			color: #777;
		}
	}

	a {
		padding: 4px 8px;

		border-bottom: 0;

		margin: 0;
		margin-right: 5px;

		@include border-radius((5px 5px 0 0));

		color: #79105c;

		text-decoration: none;
		text-align: center;

		&:hover {
			color: #6f5b9f;
		}
	}
}

