/**
 * Styles for `phpinfo()` output
 *
 * This stylesheet assumes that the `phpinfo()` output is wrapped in a container
 * with the `.phpinfo` class.
 *
 * The styles and selectors are all written bavsed on the default output of the
 * built-in function, so they don't seem to make much sense.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

.phpinfo {
	body,
	td,
	th,
	h1,
	h2 {
		font-family: sans-serif;
	}

	pre {
		margin: 0px;
		font-family: monospace;
	}

	a {
		&:link {
			color: #009;
			text-decoration: none;
			background-color: #fff;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	table {
		border-collapse: collapse;
		width: 100%
	}

	.center {
		text-align: center;

		table {
			margin-left: auto;
			margin-right: auto;
			text-align: left;
		}

		th {
			text-align: center !important;
		}
	}

	td,
	th {
		border: 1px solid #000;
		font-size: 100%;
		vertical-align: baseline;
	}

	h1 {
		font-size: 150%;
	}

	h2 {
		font-size: 125%;
	}

	.p {
		text-align: left;
	}

	.e {
		background-color: #ccf;
		font-weight: bold;
		color: #000;
	}

	.h {
		background-color: #99c;
		font-weight: bold;
		color: #000;
	}

	.v {
		background-color: #ccc;
		color: #000;
	}

	.vr {
		background-color: #ccc;
		text-align: right;
		color: #000;
	}

	img {
		float: right;
		border: 0px;
	}

	hr {
		width: 800px;
		background-color: #ccc;
		border: 0px;
		height: 1px;
		color: #000;
	}
}
