/**
 * The header languages container.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * The container for header languages.
 */
.header-languages {
	position: absolute;

	top: 10px;
	right: 0;

	height: 20px;
}

/**
 * Header language links - we need them to have different colors from default
 * website links (because of the different header background).
 */
.header-languages--link {
    height: 20px !important;
	color: #fff;
    display: inline !important;
	&:hover,
	&:focus,
	&:active {
		color: darken($color-primary, 15%) !important;
	}
}

/**
 * An active header language link has a different color.
 */
.header-languages--link--active {
	color: $color-primary !important;
}
