/**
 * The logo in the website header.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * The header logo, which is a `<h1>` element, so we need to remove its default
 * margins and padding.
 */
.header-logo {
	display: block;

	margin: 0;
	padding: 0;
}

.footer-logo {
	display: block;

	margin: 0;
	padding: 0;
	margin-top: 18px;
}

/**
 * The actual header logo link, where we swap the background and move the text
 * out of sight.
 */
.header-logo--link {
	display: block;

	width: 115px;
	height: 35px;

	//background-image: url("/images/header-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	text-indent: -9999px;
}

.footer-logo--link {
	display: block;

	width: 230px;
	height: 50px;

	//background-image: url("/images/header-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	text-indent: -9999px;
}
