/**
 * Website navigation.
 *
 * @copyright ©2011-2014 CreITive (http://www.creitive.rs)
 */

/**
 * The header navigation styles - we're using different breakpoints so that the
 * navigation always fits into the current viewport.
 */

$nav-item-width: 110px;

@media (min-width: 992px) {
	.header-navigation {
		position: absolute;

		//border-bottom: 1px solid #fff;

		bottom: 20px;
		right: 0;
		top: 7px;
	}
}

@media (max-width: 991px) {
	.header-navigation {
		position: relative;
	}
}

/**
 * The list of header navigation links - we need to remove the default list
 * styling.
 */
.header-navigation--list {
	margin: 0;
	padding: 0;


	list-style: none;
}

@media (max-width: 992px) {
  .header-navigation--list{
    background-color: $libek-darkened;
    opacity: 0.95;
  }

}

/**
 * An item in the header navigation list.
 */
.header-navigation--item {
	float: left;
	display: block;
  	text-align: right;
	margin: 0 10px;
}

/**
 * A header navigation link.
 */
.header-navigation--link {
  	font-family: $font-family-raleway;
	display: block;

	padding: 10px 15px !important;

	color: #fff;

	font-size: 14px;

	@media (min-width: 768px) {
		text-align: center;
		margin-top: -10px;
		width: $nav-item-width;

		&::before{
			top: 0;
			left: 0;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			transform: rotate(90deg);
			-webkit-transform-origin: 0 0;
			-moz-transform-origin: 0 0;
			transform-origin: 0 0;
		}

		&::after{
			right: 0;
			bottom: 0;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			transform: rotate(90deg);
			-webkit-transform-origin: 100% 0;
			-moz-transform-origin: 100% 0;
			transform-origin: 100% 0;
		}

		&::before, &::after{
			position: absolute;
			width: 40px;
			height: 2px;
			background: #fff;
			content: '';
			opacity: 0.2;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			pointer-events: none;
		}

		&:hover::before, &:focus::before{
			left: 50%;
			-webkit-transform: rotate(0deg) translateX(-50%);
			-moz-transform: rotate(0deg) translateX(-50%);
			transform: rotate(0deg) translateX(-50%);
		}

		&:hover::after, &:focus::after{
			right: 50%;
			-webkit-transform: rotate(0deg) translateX(50%);
			-moz-transform: rotate(0deg) translateX(50%);
			transform: rotate(0deg) translateX(50%);
		}

		&:hover::before, &:focus::before, &:hover::after, &:focus::after{
			opacity: 1;
			width: $nav-item-width;
		}
	}
}

/**
 * An active class for header navigation links.
 */
.header-navigation--link--active {
	color: #fff;

	//border-bottom: 5px solid $color-primary;
}
